{% extends "base.html" %}
{% block title %}Zones{% endblock %}
{% block content %}

<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Payload</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>


            {% for zone in zones %}
                <tr>
                    <td>{{ zone.client_name }}</td>
                    <td>{{ zone.payload }}</td>
                    <td >
                        <button class="edit-button" >Edit</button>
                        <button class="delete-button" onclick="deleteZone({{ zone.id }})">Delete</button>
                    </td>
                </tr>
            {% endfor %}

        </tbody>

    </table>
    <br>

    <form method="POST" >
        <label for="client_name">clientname</label>
        <textarea name="client_name" id="client_name" class="form-control"></textarea>
        <br>
        <label for="payload">payload</label>
        <textarea name="payload" id="payload" class="form-control"></textarea>
        <br>

        <div align="center">
            <button type="submit" class="btn btn-primary">Add Zone</button>
        </div>
    </form>


</div>
{% endblock %}
